.contact-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: yellow;
    width: 100vw;
}

form{
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}

.info {
    background-color: aquamarine;
    padding: 10px;
    width: 30%;
    min-width: 200px;
}

.form input, select, textarea{
    margin: 10px 0 0 0;
    width: 80%;
    min-height: 2em;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.form label{
    display: block;
    margin-top: 1em;
}




.form {
    padding: 10px;
    background-color: brown;
    width: 60%;
    min-width: 300px;
}

@media (max-width: 670px) {
    .info {
      width: 75%;
      display: block;
    }

    .form{
        display: block;
        width: 75%;
    }
  
  }