body {
    font-family: 'Lucida Sans',
        'Lucida Sans Regular',
        'Lucida Grande', 'Lucida Sans Unicode',
        Geneva, Verdana, sans-serif;
}


.contact-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(245, 245, 245);
    width: 100vw;
}

.forms-of-contact {
    padding-top: 1em;
    padding-bottom: 1em;
}

.icon {
    position: relative;
    float: inline-start;
    width: 20%;
    padding: none;
    margin-bottom: 20px;
}

@media (max-width: 320px) {
    .forms-of-contact {
        font-size: 14px;
    }
}

a {
    color: black;
    text-decoration: none;
}

form {
    width: 80%;
    max-width: 500px;
    min-width: 300px;
    margin: 1em auto 1em;
    padding: 1em;
    background-color: white;
    justify-items: center;
    border-radius: 20px;
    box-shadow: 0 0px 7px rgba(0, 0, 0, 0.5);
}


.info {
    background-color: rgb(245, 245, 245);
    padding: 10px;
    width: 30%;
    min-width: 200px;
    margin: 0 auto;
}

.form input,
select,
textarea {
    margin: 10px 0 0 0;
    width: 80%;
    min-height: 2em;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    display: block;
}

.form label {
    display: block;
    margin-top: 1em;
}

.form label.no-label {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    margin-bottom: -10px
}

.form select {
    width: 82%;
    cursor: pointer;
}


fieldset {
    border: none;
    margin-bottom: 1em;
}

.form {
    padding: 10px;
    background-color: rgb(245, 245, 245);
    width: 60%;
    min-width: 300px;
}

input[type="checkbox"] {
    width: auto;
    vertical-align: middle;
    margin: 0;
    cursor: pointer;
}

input[type="submit"] {
    cursor: pointer;
}

input[type="reset"] {
    cursor: pointer;
}

@media (max-width: 670px) {
    .info {
        width: 75%;
        display: block;
    }

    .form {
        display: block;
        width: 75%;
    }
}